*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.black{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 343px;
    text-align: center;
    background-color: blueviolet;
}
.black:hover{
    background-color: black;
    animation-name: negro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes negro {
    0%{background-color: blueviolet;}
    16%{background-color: red;}
    32%{background-color: yellow;}
    48%{background-color: rgb(0, 255, 0);}
    64%{background-color: rgb(0, 255, 234);}
    80%{background-color: blue;}
    96%{background-color: rgb(255, 0, 200);}
    100%{background-color: blueviolet;}
}
a{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    background-color: white;
}
ul{
    display: flex;
    flex-wrap: wrap;    
    background-color: rgb(105, 98, 88);
    justify-content: center;
}
.pedrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(158, 203, 255, 1);
  padding: 20px 10%;
}
.image-transparente{
    height: 30vh;
    width: 200vh;
    background-image: linear-gradient(rgba(212, 0, 255, 0.459), rgba(0, 255, 213, 0.514)) ,url(img/fondo/descarga\ \(1\).jpg);
    width: 90vw;
    margin: 0px auto;
}
h3{
    color: black;
}
#tonotos{
  padding: 20px 10%;
}
.DOOM{
    color: gold;
    display: flex;
    justify-content: center;
    padding: px;
}
.Doom{
    color: gray;
    display: flex;
    justify-content: center;
    padding: px;
}
.doom{
    color: white;
    display: flex;
    justify-content: center;
}
.info{
    width:100% ;
   color: #ebe4e4;
  padding: 30px 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}
ul{
    background: rgb(75,180,58);
    background: linear-gradient(90deg, rgb(17, 0, 255) 0%, rgb(195, 0, 255) 50%, rgb(255, 0, 0) 100%);
}
.blue{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 343px;
    text-align: center;
    background-color: blue;
}
.blue:hover{
    background-color: black;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: azul;
}
.red:hover{
    background-color: black;
    animation-name: rojo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}
.red{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 343px;
    background-color: red;
    text-align: center;
}
@keyframes azul {
    0%{background-color: blue;}
    25%{background-color: rgb(195, 0, 255);}
    50%{background-color: rgb(255, 0, 191);}
    75%{background-color: rgb(255, 0, 98);}
    80%{background-color: rgb(255, 0, 0);}
    100%{background-color: blue;}
}
@keyframes rojo {
    0%{background-color: red;}
    25%{background-color: rgb(255, 102, 0);}
    50%{background-color: rgb(255, 149, 0);}
    75%{background-color: yellow;}
    100%{background-color: red;}
}
.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background: rgb(75,180,58);
    background: linear-gradient(90deg, rgba(75,180,58,1) 0%, rgba(29,253,247,1) 50%, rgba(69,69,252,1) 100%);
    grid-template-rows: auto;
    column-gap: 7px;
    row-gap: 5px;
    width: 75%;
    margin: 0 auto;
}
.imagenes_img{
    width: 100%;
}
.corre{
    color: goldenrod;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contenedor {
  max-width: 75%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: min-content;
  gap: 0.9375rem;
}

.contenedor div {
  padding: 15px 20px;
  
}
div>img{
  padding-top: 20px;
}
.griditem1 {
   background: linear-gradient(
      90deg,
      #d3be9ec6 28%,
      rgba(197, 232, 204, 0.642) 75%

    )
    
}
.griditem2 {
  background: linear-gradient(
      90deg,
      rgba(214, 185, 205, 0.745) 28%,
      rgba(246, 168, 236, 0.719) 75%
    ),
    url(img/kirby.png);
}
.griditem3 {
  background: linear-gradient(
      90deg,
      rgba(255, 230, 0, 0.692) 28%,
      rgba(255, 136, 0, 0.451) 75%
    ),
    url(img/Kratos.jpg);
}
.griditem4 {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.671) 28%,
      rgba(99, 99, 99, 0.804) 50%,
      rgba(136, 114, 114, 0.623) 75%
    ),
    url(img/silencio\ gil.jpg);
  grid-column: 1/3;
}
.griditem5 {
  background: linear-gradient(
      90deg,
      rgba(150, 194, 236, 0.734) 28%,
      rgba(247, 246, 171, 0.61) 50%,
      rgba(184, 232, 193, 0.89) 75%
    ),
    url(img/tlou.jpg);
}
body {
  background-image: linear-gradient(rgb(0, 0, 255), rgb(0, 0, 0));
  background-image: radial-gradient(rgb(0, 0, 255), rgb(0, 0, 0));
}


.contenedor2 {
  width: 75%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: min-content;
  row-gap: 15px;
  column-gap: 15px;
}
@media (width<900px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
  .griditem5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contenedor2{
    grid-template-columns: 1fr ;
  }
}

@media (width<600px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }

  .griditem5,
  .griditem2,
  .griditem3 {
    grid-column: 1/2;
  }

  
}


.malo1 {
  background: linear-gradient(
    rgb(111, 255, 159),
    rgb(107, 107, 228),
    rgb(17, 0, 255)
  );
  padding: 3px;
}
.malo2 {
  background: linear-gradient(yellow, orange, red);
  padding: 3px;
}
.malo3 {
  background: linear-gradient(grey, red, black);
  padding: 3px;
}
.malo4 {
  background: linear-gradient(rgb(22, 131, 0), yellow, orange);
  padding: 3px;
}
.REC, .no {
  padding: 20px;
  color: rgb(66, 255, 246);
}
.dino {
  background-image: linear-gradient(orange, rgb(47, 148, 0));
  background-image: radial-gradient(orange, rgb(47, 148, 0));
  width: 100%;
  padding: 30px;
  text-align: center;
}
.copy { 
 text-align: center;
  color: rgb(66, 255, 246);
  padding-bottom: 16px ;
}

.consola{
    display: grid;
    grid-template: minmax(300px, 1fr);
   
}
.consola :nth-child(2), .consola :nth-child(3){
    padding-left: 20px;
}
